{% extends 'base.html' %}

{% block content %}
<h1>Manage Users</h1>
<p>Below is a list of all users on the platform. Admins can edit or delete users.</p>
<ul>
    {% for user in users %}
        <li>{{ user.username }} - {{ user.role }}
            <form action="{{ url_for('main.edit_user', user_id=user.id) }}" method="POST">
                <button type="submit">Edit</button>
            </form>
            <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
